body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Jost', sans-serif;
    background: linear-gradient(bottom, #ffffff, #ffffff, #ffffff);
}
.main{
    width: 450px;
    height: 700px;
    background: red;
    overflow: hidden;
    background: url("https://doc-08-2c-docs.googleusercontent.com/docs/securesc/68c90smiglihng9534mvqmq1946dmis5/fo0picsp1nhiucmc0l25s29respgpr4j/1631524275000/03522360960922298374/03522360960922298374/1Sx0jhdpEpnNIydS4rnN4kHSJtU1EyWka?e=view&authuser=0&nonce=gcrocepgbb17m&user=03522360960922298374&hash=tfhgbs86ka6divo3llbvp93mg4csvb38") no-repeat center/ cover;
    border-radius: 10px;
    box-shadow: 5px 20px 50px #000;
}
#chk{
    display: none;
}
.signup{
    position: relative;
    width:100%;
    height: 100%;
}
label{
    color: #fff ;
    font-size: 2.3em;
    justify-content: center;
    display: flex;
    margin: 30px;
    font-weight: bold;
    cursor: pointer;
    transition: .5s ease-in-out;
}
input{
    width: 60%;
    height: 10px;
    background: #e0dede;
    justify-content: center;
    
    margin: 25px auto;
    padding: 13px;
    border: none;
    outline: none;
    border-radius: 5px;
}
button{
    width: 60%;
    height: 40px;
    margin: 10px auto;
    justify-content: center;
    display: block;
    color: #fff;
    background: #004d66;
    font-size: 1em;
    font-weight: bold;
    margin-top: 30px;
    outline: none;
    border: none;
    border-radius: 5px;
    transition: .2s ease-in;
    cursor: pointer;
}
button:hover{
    background: #004d66;
}
.login{
    height: 460px;
    background: #eee;
    border-radius: 60% / 10%;
    transform: translateY(-180px);
    transition: .8s ease-in-out;
}
.login label{
    color: #004d66;
    transform: scale(.6);
}

#chk:checked ~ .login{
    transform: translateY(-530px);
}
#chk:checked ~ .login label{
    transform: scale(1);    
}
#chk:checked ~ .signup label{
    transform: scale(.6);
}
.back-arrow {
    display: inline-block;
    font-size: 18px;
    text-decoration: none;
    color: #ffffff;
    margin: 1px;
    padding: 1px 10px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.back-arrow:hover {
    background-color: #ffffff;
    color: #000000;
}
.right-arrow {
    display: inline-block;
    font-size: 18px;
    text-decoration: none;
    color: #333;
    margin: 10px;
    padding: 5px 10px;
    border: 1px solid #333;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .right-arrow:hover {
    background-color: #333;
    color: #fff;
  }
  @import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body {
    font-family: 'poppins', sans-serif; 
}
.container{
    max-width: 1200px;
    margin: 0%;
}
.header{
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 15vh;
    display: flex;
    align-items: center;
}
.menu{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}
.menu .navbar ul li a {
    position: relative;
    float: left;
}
.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: azure;
    display: block;
    font-weight: 600;
}
#menu{
    display: none;

}
.menu.icono{
    width: 25px;
}
.menu label{
    cursor: pointer;
    display: none;
}
.header-txt h1{
    font-size: 85px;
    color: azure;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.header-txt p{
    color: aliceblue;
    font-size: 16px;
    padding: 0 250px;
    margin-bottom: 45px;
}
.gerenal.container {
    padding: 20px;
    background-color: #f5f5f5;
    position: center;
  }
  
  h2 {
    text-align: center;
    color: #000000;
    margin-bottom: 0px;
  }